#terminal-input {
    background-color: #000000;
    border: 2px solid #DDAA00;
    color: #AAAA77;
    float: left;
    font-family: monospace;
    font-size: 15px;
    height: 300px;
    width: 70%;
}
#content {
    height: 300px;
}
#results {
    float: left;
    height: 284px;
    margin: 3px 20px;
    padding: 5px 10px;
    width: 20%;
}
ul {
    margin: 0;
    padding: 0 0 0 50px;
}
form span{
    color: red;
    float: left;
    font-size: 10px;
}
#evalphp {
    float:left;
    width:100%;
}
.submit{
    float: left;
    height: 300px;
    width: 30px;
}
.footer{
    color: #000088;
    margin: 10px;
    width: 70%;
}
span.home {
    bottom: 0;
    margin: 20px;
    position: absolute;
    right: 0;
}